$color-money: #BFFFDC;
$color-gift: #DCBFFF;
$color-handshake: #FFDCBF;
$color-text: #2A1C2E;
$color-accent: #FF7A0D;

.card {
  border-style: none;

  img {
    border-radius: 50%;
  }
}

.member-show .card img {
  width: 250px;
}

.buttons {

  div {
    border-radius: 50%;
  }

  .button {
    width: 75px;
    height: 75px;
    padding-left: 0;
    padding-right: 0;
  }
}

.money {
  background-color: $color-money;
  .buttons &:hover {
    background-color: darken($color-money, 12%);
  }
}

.gift {
  background-color: $color-gift;
  .buttons &:hover {
    background-color: darken($color-gift, 12%);
  }
}

.handshake {
  background-color: $color-handshake;
  .buttons &:hover {
    background-color: darken($color-handshake, 12%);
  }
}

i {
  color: $color-text;
}
